@charset "UTF-8";

@import 'normalize';
@import 'mixins';
@import 'variables';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1.6rem;
  text-decoration: none;
  width: fit-content;

  &__primary {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: 0.4rem 1.6rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 10%;

    @include breakpoint('md') {
      font-size: 2.4rem;
    }
  }

  &__secondary {
    border: none;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 10%;

    @include breakpoint('md') {
      font-size: 2.4rem;
    }
  }
}

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  width: 100%;

  @include breakpoint('md') {
    padding: 0 7.2rem;
  }
}

.contact-bar {
  background-color: var(--color-black);
  padding: 0.8rem 0;
  min-height: 4rem;
  width: 100%;

  &__grid {
    display: flex;
    gap: 1.6rem;
    justify-content: center;

    @include breakpoint('md') {
      justify-content: flex-end;
    }
  }

  &__phone {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    i::before {
      color: gray;
    }
  }

  &__social-media {
    display: flex;
    gap: 0.8rem;

    a {
      font-size: 1.8rem;

      i::before {
        color: gray;
      }
    }
  }
}

.hero {
  background-image: url('../images/hero.jpg');
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 3.2rem 0;
  position: relative;
  width: 100%;
  z-index: 1;

  @include breakpoint('md') {
    background-position: 0 0;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @include breakpoint('md') {
    &::before {
      content: none;
    }
  }

  .container {
    height: 100%;
  }

  &__content {
    max-width: 67.5rem;
    width: 100%;
  }

  &__logo {
    align-items: flex-end;
    border-bottom: 1px solid var(--color-white);
    display: flex;
    padding-bottom: 1.6rem;

    img {
      width: 12.2rem;

      @include breakpoint('md') {
        width: initial;
      }
    }

    &__legend {
      color: var(--color-white);
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 6.5rem;
      margin: 0 2.4rem;

      @include breakpoint('md') {
        font-size: 4.4rem;
        line-height: 4.4rem;
        margin: 0 4.8rem;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 4rem;

    &__title {
      color: var(--color-white);
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 3.5rem;

      @include breakpoint('md') {
        color: var(--color-black);
        font-size: 4.4rem;
      }

      span {
        color: var(--color-black);
        font-weight: 600;

        @include breakpoint('md') {
          color: var(--color-white);
        }
      }
    }

    &__subtitle {
      color: var(--color-white);
      font-size: 2rem;
      font-weight: 600;

      @include breakpoint('md') {
        color: var(--color-black);
      }
    }

    &__text {
      color: var(--color-white);
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.8rem;
      margin-top: 1.6rem;

      @include breakpoint('md') {
        color: var(--color-black);
      }
    }
  }
}

.cases-home {
  background-color: var(--color-light-blue);
  width: 100%;

  &__case {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &.cases-home-case1 {
      .cases-home__case-image {
        &::before {
          content: '';
          display: inline-block;
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 298px 298px 0 0;
          border-color: var(--color-blue) transparent transparent transparent;

          @include breakpoint('md', 'max-width') {
            display: none;
          }
        }
      }

      .cases-home__case-description {
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: #000;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 0, 0% 100%, 100% 0);
          z-index: -1;

          @include breakpoint('md', 'max-width') {
            display: none;
          }
        }
      }
    }

    &.cases-home-case2 {
      padding-bottom: 3.2rem;

      .cases-home__case-description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }

      .cases-home__case-text {
        width: 100%;

        @include breakpoint('md') {
          width: 80%;
        }
      }

      .cases-home__case-tag {
        background-color: var(--color-black);
      }

      .cases-home__case-date {
        i {
          &::before {
            color: var(--color-black);
          }
        }
        p {
          color: var(--color-black);
        }
      }
    }
  }

  &__case-image {
    grid-column-start: span 12;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    padding-top: 2.4rem;

    @include breakpoint('md') {
      grid-column-start: span 6;
      padding: 0;
    }

    img {
      object-fit: cover;
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  &__case-description {
    color: var(--color-white);
    grid-column-start: span 12;
    padding: 2.4rem 0;
    position: relative;
    z-index: 1;

    @include breakpoint('md') {
      grid-column-start: span 6;
      padding: 24px;
    }

    a {
      margin-top: 2rem;
    }
  }

  &__case-title {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 1.6rem;

    @include breakpoint('md') {
      font-size: 4.6rem;
    }
  }

  &__case-tag {
    background-color: var(--color-black);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 10%;
    padding: 4px 16px;
    display: block;
    width: fit-content;

    @include breakpoint('md') {
      background-color: var(--color-light-blue);
      font-size: 1.4rem;
    }
  }

  &__case-date {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    gap: 1rem;
    margin: 2rem 0;

    @include breakpoint('md') {
      font-size: 1.6rem;
      gap: 1.6rem;
    }

    i {
      &::before {
        color: var(--color-black);
        font-size: 1.2rem;
        transform: rotate(90deg);

        @include breakpoint('md') {
          color: var(--color-blue);
        }
      }
    }

    span {
      display: flex;
      gap: 0.8rem;
    }

    p {
      color: var(--color-black);

      @include breakpoint('md') {
        color: var(--color-blue);
      }
    }
  }

  &__case-text {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;

    @include breakpoint('md') {
      line-height: 2rem;
      width: 65%;
    }
  }
}

.all-cases {
  background-color: var(--color-light-blue2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;

  @include breakpoint('md') {
    height: 17rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--color-white);
    font-weight: 300;
    font-size: 1.8rem;

    @include breakpoint('md') {
      font-size: 2.4rem;
    }
  }
}

.about {
  background-color: var(--color-black);
  min-height: 48rem;
  padding: 2.4rem 0;
  position: relative;
  width: 100%;
  z-index: 1;

  @include breakpoint('md') {
    padding: 2.4rem;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20rem 20rem 0 0;
    border-color: var(--color-blue) transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include breakpoint('md', 'max-width') {
      display: none;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20rem 20rem;
    border-color: transparent transparent var(--color-blue) transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    @include breakpoint('md', 'max-width') {
      display: none;
    }
  }

  .container {
    padding: 0 1.6rem;
  }

  &__title {
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 2.4rem;
    font-weight: 300;
    padding-bottom: 1.6rem;
    display: flex;

    @include breakpoint('md') {
      font-size: 4.2rem;
      margin: 0 7.2rem;
      width: 520px;
      justify-content: flex-end;
    }
  }

  &__description__subtitle {
    color: var(--color-light-blue2);
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 1.6rem;

    @include breakpoint('md') {
      font-size: 4.6rem;
    }
  }

  &__description__text {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include breakpoint('md') {
      font-size: 2rem;
    }
  }

  .swiper {
    height: 100%;
    margin: 3rem 0;
    width: 100%;

    @include breakpoint('md') {
      padding: 0 7.2rem;
    }
  }

  .swiper-slide {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;

    img {
      @include breakpoint('md', 'max-width') {
        margin: 0 auto;
        text-align: center;
        display: block;
      }
    }

    @include breakpoint('md') {
      flex-direction: row;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @include breakpoint('md', 'max-width') {
      top: 20%;
    }
  }
}

.purpose {
  background-color: var(--color-light-black);
  padding: 2.4rem 0 0 0;
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include breakpoint('md') {
      gap: 3.2rem;
    }
  }

  &__content {
    grid-column-start: span 12;

    @include breakpoint('md') {
      grid-column-start: span 6;
    }

    &.column1 {
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16rem 0 0 16rem;
        border-color: transparent transparent transparent var(--color-blue);
        position: absolute;
        bottom: 0;
        left: 0;

        @include breakpoint('md', 'max-width') {
          display: none;
        }
      }
    }
  }

  &__title {
    border-bottom: 0.1rem solid var(--color-white);
    color: var(--color-white);
    font-size: 4.2rem;
    font-weight: 300;
    padding-bottom: 1rem;
    width: fit-content;
  }

  &__text {
    margin: 2rem 0;

    h2 {
      border-bottom: 0.1rem solid var(--color-light-blue2);
      color: var(--color-light-blue2);
      font-size: 3.2rem;
      font-weight: 300;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
    }

    p {
      color: var(--color-white);
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.8rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.expertise {
  background-image: url('../images/bg-expertise.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  height: 74rem;
  width: 100%;

  @include breakpoint('md', 'max-width') {
    padding: 2.4rem 0;
    height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    gap: 3.2rem;
  }

  &__title {
    align-items: center;
    display: flex;
    grid-column-start: span 12;
    justify-content: flex-end;
    height: 100%;

    @include breakpoint('md') {
      grid-column-start: span 5;
      justify-content: center;
    }

    h1 {
      color: var(--color-white);
      font-size: 2.4rem;
      font-weight: 300;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid var(--color-white);
      width: 70%;

      @include breakpoint('md') {
        font-size: 4.2rem;
        text-align: right;
        width: 100%;
      }
    }
  }

  &__description {
    grid-column-start: span 12;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;

    @include breakpoint('md') {
      grid-column-start: span 7;
    }

    &__text {
      color: var(--color-white);
      font-weight: 300;

      h2 {
        font-size: 1.8rem;
        font-weight: 300;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid var(--color-white);
        margin-bottom: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint('md') {
          font-size: 2.8rem;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 1rem;

        @include breakpoint('md') {
          font-size: 2rem;
        }
      }
    }
  }
}

.steps {
  background-color: var(--color-black);
  background-attachment: fixed;
  height: auto;
  padding: 2.4rem;
  width: 100%;

  @include breakpoint('md') {
    background-image: url('../images/bg-steps.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 58rem;
  }

  &__title {
    font-weight: 300;
    color: var(--color-white);
    border-bottom: 0.1rem solid var(--color-white);
    text-align: center;
    font-size: 2.4rem;
    padding: 0 0 1rem 0;
    width: 70%;
    text-align: right;

    @include breakpoint('md') {
      width: fit-content;
      margin: 0 auto;
      padding: 0 10rem 1rem 10rem;
      font-size: 4.2rem;
    }
  }

  &__step {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint('md') {
      width: 31rem;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 300;
      color: var(--color-white);
      gap: 1rem;

      span {
        background-color: #07869c;
        color: var(--color-white);
        font-size: 2.6rem;
        font-weight: 700;
        width: 5.1rem;
        height: 3.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__content {
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      flex-direction: column;
      font-weight: 300;
      color: var(--color-white);
      justify-content: center;
      gap: 2rem;
      line-height: 2rem;
      height: auto;
      padding: 3.2rem;
      font-size: 1.6rem;

      @include breakpoint('md') {
        font-size: 1.4rem;
        padding: 0 2.4rem;
        height: 38rem;
      }
    }
  }

  .container {
    display: flex;
    height: 100%;
    margin-top: 2.4rem;
    flex-direction: column;
    gap: 3.2rem;

    @include breakpoint('md') {
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }
  }
}

.footer {
  background-color: #d2d2d2;
  padding: 3.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  &__navigation {
    display: flex;
    gap: 1.6rem;
    border-bottom: 0.2rem solid var(--color-blue);
    padding-bottom: 1rem;

    @include breakpoint('md', 'max-width') {
      display: none;
    }

    a {
      color: var(--color-light-black);
      font-size: 1.8rem;
      font-weight: 300;
      transition: all 0.3s ease;

      &:hover {
        font-weight: 700;
      }
    }
  }

  &__copy {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--color-light-black);
    text-align: center;

    span {
      font-weight: 700;
    }

    a {
      color: #07869c;
      font-weight: 700;
    }
  }
}
