@charset "UTF-8";

@import 'normalize';
@import 'mixins';
@import 'variables';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 0.8rem;
  text-decoration: none;
  width: fit-content;

  &__primary {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: 0.4rem 1.6rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 10%;
  }
}

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  width: 100%;
}

.contact-bar {
  background-color: var(--color-black);
  padding: 0.8rem 0;
  min-height: 4rem;
  width: 100%;

  &__grid {
    display: flex;
    gap: 1.6rem;
    justify-content: center;

    @include breakpoint('md') {
      justify-content: flex-end;
    }
  }

  &__phone {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    i::before {
      color: gray;
    }
  }

  &__social-media {
    display: flex;
    gap: 0.8rem;

    a {
      font-size: 1.8rem;

      i::before {
        color: gray;
      }
    }
  }
}

.hero {
  background-image: url('../images/hero.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 3.2rem 0;
  position: relative;
  width: 100%;
  z-index: 1;

  &::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @include breakpoint('md') {
    &::before {
      content: none;
    }
  }

  .container {
    height: 100%;
  }

  &__content {
    max-width: 67.5rem;
    width: 100%;
  }

  &__logo {
    align-items: flex-end;
    border-bottom: 1px solid var(--color-white);
    display: flex;
    gap: 3.6rem;
    padding-bottom: 1.6rem;

    img {
      width: 30%;

      @include breakpoint('md') {
        width: initial;
      }
    }

    &__legend {
      color: var(--color-white);
      font-size: 2.6rem;
      font-weight: 300;
      line-height: 7rem;

      @include breakpoint('md') {
        font-size: 4.4rem;
        line-height: 4.4rem;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 4rem;

    &__title {
      color: var(--color-black);
      font-size: 2.6rem;
      font-weight: 300;
      line-height: 3.5rem;

      @include breakpoint('md') {
        font-size: 4.4rem;
      }

      span {
        color: var(--color-white);
        font-weight: 600;
      }
    }

    &__subtitle {
      color: var(--color-black);
      font-size: 2rem;
      font-weight: 600;
    }

    &__text {
      color: var(--color-black);
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.8rem;
      margin-top: 1.6rem;
    }
  }
}

.cases-home {
  background-color: var(--color-light-blue);
  width: 100%;

  &__case {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &.cases-home-case1 {
      .cases-home__case-image {
        &::before {
          content: '';
          display: inline-block;
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 298px 298px 0 0;
          border-color: var(--color-blue) transparent transparent transparent;

          @include breakpoint('md', 'max-width') {
            display: none;
          }
        }
      }

      .cases-home__case-description {
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: #000;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 0, 0% 100%, 100% 0);
          z-index: -1;

          @include breakpoint('md', 'max-width') {
            display: none;
          }
        }
      }
    }

    &.cases-home-case2 {
      padding-bottom: 3.2rem;

      .cases-home__case-description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }

      .cases-home__case-text {
        width: 80%;
      }

      .cases-home__case-tag {
        background-color: var(--color-black);
      }

      .cases-home__case-date {
        i {
          &::before {
            color: var(--color-black);
          }
        }
        p {
          color: var(--color-black);
        }
      }
    }
  }

  &__case-image {
    grid-column-start: span 12;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    padding-top: 2.4rem;

    @include breakpoint('md') {
      grid-column-start: span 6;
      padding: 0;
    }

    img {
      object-fit: cover;
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  &__case-description {
    color: var(--color-white);
    grid-column-start: span 12;
    padding: 2.4rem 0;
    position: relative;
    z-index: 1;

    @include breakpoint('md') {
      grid-column-start: span 6;
      padding: 24px;
    }
  }

  &__case-title {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 1.6rem;

    @include breakpoint('md') {
      font-size: 4.6rem;
    }
  }

  &__case-tag {
    background-color: var(--color-black);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 10%;
    padding: 4px 16px;
    display: block;
    width: fit-content;

    @include breakpoint('md') {
      background-color: var(--color-light-blue);
      font-size: 1.4rem;
    }
  }

  &__case-date {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    gap: 1.6rem;
    margin: 2rem 0;

    @include breakpoint('md') {
      font-size: 1.6rem;
    }

    i {
      &::before {
        color: var(--color-black);
        font-size: 1.2rem;
        transform: rotate(90deg);

        @include breakpoint('md') {
          color: var(--color-blue);
        }
      }
    }

    span {
      display: flex;
      gap: 0.8rem;
    }

    p {
      color: var(--color-black);

      @include breakpoint('md') {
        color: var(--color-blue);
      }
    }
  }

  &__case-text {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;

    @include breakpoint('md') {
      line-height: 2rem;
      width: 65%;
    }
  }

  &__case-cta {
    color: var(--color-white);
    display: flex;
    font-size: 2.4rem;
    font-weight: 300;
    gap: 1.6rem;
    margin-top: 2rem;
    text-transform: uppercase;
  }
}

.all-cases {
  background-color: var(--color-light-blue2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;

  @include breakpoint('md') {
    height: 17rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--color-white);
    font-weight: 300;
    font-size: 1.8rem;

    @include breakpoint('md') {
      font-size: 2.4rem;
    }
  }
}
